/*-- scss:defaults --*/

// Approximately follow University styles
$primary: #b01c2e;
$navbar-bg: white;
$link-color: #1a5877;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
$font-brand: 'Inter', Helvetica, Arial, sans-serif;
$font-regular: 'Open Sans', Helvetica, Arial, sans-serif;
$headings-font-family: $font-brand;
$font-family-sans-serif: $font-regular;

// Tweak grid layout
$grid-sidebar-width: 16em; // Width of left hand menu
$grid-column-gutter-width: 1.5rem; // Make column spacing match the logo position
$grid-page-gutter-float: 0; // Keep page aligned to left, not centered at large widths
$grid-float-mid-body-gutter-start: 0; // Prevent extra left padding as page is expanded

/*-- scss:rules --*/

body {
    // Everything in this block is to approximately follow University styles
    font-size: 0.85rem;
    line-height: 1.5;

    @media (min-width:620px) and (max-width:760px) {
        font-size: calc(.85rem + .05 * ((100vw - 620px)/ 140));
    }

    @media (min-width:760px) and (max-width:1220px) {
        font-size: calc(.9rem + .1 * ((100vw - 760px)/ 460));
    }

    @media (min-width:1220px) {
        font-size: 1rem;
    }

    // Remove floating logo at top
    padding-top: 1rem !important;

    header.fixed-top {
        position: static;
    }

    img.navbar-logo {
        // Make logo larger
        width: 275px;
        max-width: 100%;
        max-height: none;
    }

    .sidebar-navigation {
        // Make left hand menu more compact
        padding: 0;

        &> :first-child {
            padding-top: 0;
        }
    }

    #title-block-header {
        // Prevent extra spacing below intro text
        margin-bottom: 0;
    }


    h1 {
        border-bottom: .25rem double #e3e6e5;
        color: $primary;
        margin-bottom: 1.5rem !important;
        padding-bottom: .75rem;
    }

    h2,
    h3,
    h4 {
        border-bottom: none;
        margin-top: 1.5em !important;
    }

    .lead {
        font-size: .95625rem;
        font-weight: 400;
        line-height: 1.5;

        @media (min-width:620px) and (max-width:760px) {
            font-size: calc(.95625rem + .05625 * ((100vw - 620px)/ 140));
        }

        @media (min-width:760px) and (max-width:1220px) {
            font-size: calc(1.0125rem + .1125 * ((100vw - 760px)/ 460));
        }

        @media (min-width:1220px) {
            font-size: 1.125rem;
        }

        &::after {
            background-color: #e3e6e5;
            content: "";
            display: block;
            height: .25rem;
            margin: 2.25rem auto;
            width: 50%;
        }
    }

    hr {
        margin-top: 2rem;
    }
}

.nobreak {
    // Utility to stop text wrapping
    white-space: nowrap !important;
}